.default-btn {
  height: 34px;
  display: flex;
  align-items: center;
  font-size: 14px;
  background-color: $default-color;
  padding: 0 30px;
  color: #FFFFFF;
  border-radius: 34px;
  justify-content: center;
}
