@import "../theme";

.accountTitle {
  margin-left: 33px;
  padding-top: 65px;
  margin-bottom: 50px;
  font-size: 23px;
  font-weight: bold;
  color: #333333;
}

.accountForm {
  padding: 0 33px;
  box-sizing: border-box;
  font-size: 17px;

  .adm-list-body {
    overflow: visible;
  }

  .adm-form-item-child-inner {
    width: 100%;
  }

  .adm-list-item {
    padding-left: 0;
  }

  .adm-form-item-required-asterisk {
    color: #ff0934 !important;
  }

  .adm-form-item-feedback-error {
    color: #ff0934;
  }

  .adm-form .adm-form-footer {
    padding-left: 0;
    padding-right: 0;
  }

  .accountFormItem {
    border-bottom: 1px solid #e5e5e5;
    font-size: 13px;
    padding-bottom: 4px;
    margin-bottom: 35px;
  }
}


.accountFormImg {
  .select {
    border: 1px dashed #bbb;
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 4px;
    text-align: center;
    color: #bbb;
  }
}

.agreementWrap {
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #bbb;

  .choose {

  }

  .agreement {
    display: inline-block;
    color: $default-color;
  }

  .wx-checkbox-input {
    width: 17px;
    height: 17px;
    border-radius: 50%;
  }

  .wx-checkbox-input.wx-checkbox-input-checked {
    background-color: $default-color;
  }

  .wx-checkbox-input.wx-checkbox-input-checked::before {
    color: #ffffff;
    font-size: 14px;
  }
}

.linkWrap {
  padding: 0 36px;
  display: flex;
  justify-content: space-between;
  color: $default-color;
  font-size: 14px;
}
