@import '../theme';

.order-list {
  background-color: $bg-color;
  height: 100%;

  .tab {
    padding: 0 16px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    height: 44PX;
    line-height: 44PX;

    .tab-item {
      font-size: 12px;
      color: $font-sub-color;
      border-bottom: 2px solid #FFFFFF;
      padding-bottom: 10px;

      &.active {
        border-color: $default-color;
        font-weight: 500;
        color: $font-color;
      }
    }
  }

  .order-content {
    padding: 16px;
    box-sizing: border-box;
  }
}
